.dual-tot-cont {
  height: 100vh;
  background-color: #050815;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  P {
    line-height: 1.4;
  }
  scroll-snap-align: start;
}
.box-animation-cont {
  height: 440px;
  // min-height: 50%;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dual-txt {
  text-align: center;
}
.box-cont {
  height: 340px;

  img {
    height: 100%;
    width: 100%;
    min-width: 100px;
    object-fit: contain;
  }
}

.ani-img-1 {
  // top: 320px;
  z-index: 1;
  margin-right: -120px;
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}
.ani-img-2 {
  height: 440px;
  z-index: 2;
  transition: 0.3s ease-in-out;
}
.ani-img-3 {
  transition: 0.3s ease-in-out;
  margin-left: -120px;
  opacity: 0.6;
}

.ani-img-1:hover {
  height: 440px;
  z-index: 3;
  opacity: 1;
}

.ani-img-1:hover ~ .ani-img-2 {
  height: 340px;
  opacity: 0.6;
  z-index: 2;
  margin: 0;
}
.ani-img-1:hover ~ .ani-img-3 {
  z-index: 1;
  margin-left: -20px;
}
.ani-img-3:hover {
  height: 440px;
  z-index: 2;
  opacity: 1;
}

.box-animation-cont:has(.ani-img-3:hover) .ani-img-2 {
  height: 340px;
  z-index: 1;
  opacity: 0.6;
}
.box-animation-cont:has(.ani-img-3:hover) .ani-img-1 {
  margin-right: -20px;
  z-index: 1;
}
