@use "./colors.scss" as *;

@mixin button-outliner {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 15px 23px !important;

  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  overflow: hidden;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.3s ease;
  }
}
